<body>
	Instruction :

	Il s'agit ici de la page d'explication.
	
	Si vous entrez http://localhost:8080/samy vous aurez une courte 
	présentation de notre groupe !<br><br>
	Si vous utilisez :<br> http://localhost:8080/hello?name=samy <br><br>vous aurez un
	message du type hello samy ! <br>Vous pouvez remplacer samy par n'importe quel 
	autre nom dans l'URL et la page genere s'adaptera pour afficher "hello [nom]"
	<br><br>Tout autre entree dans la barre d'adresse emmenera vers une page d'erreur<br>
	et un bouton permet de revenir ici.<br><br>On a utiliser le module FS pour lire et ecrire<br>
	dans des fichiers

</body>